$color-primary: #047aed;
$color-secondary: #1c3fa8;
$color-light: #f4f4f4;
$color-dark: #002240;

$color-grey-dark: #333;
$color-grey-light: #b4becb;

$color-white: #fff;

$color-black: #000;

$color-success: #5cb85c;
$color-error: #d9534f;